*{
  margin: 0;
  padding: 0;
  outline: 0;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
ol,ul{
  list-style-type: none;
}
body{
   font-family: "Oswald", serif;
}
p{
   font-family: "Open Sans", serif;
}
.wrapper_full{
  width: 100%;
}
.wrapper{
  width: 960px;
  margin: 0 auto;
}
.d-flex{
  display: flex;
  flex-wrap: wrap;
}
.clr{
  clear: both;
}

/* header start */
header{
  
}
.header_top_part{
  padding: 10px 0px;
  background: #0872b9;
}
.header_content{
  width: 460px;
  margin: 0px 10px;
}
.header_content p{
  color: #e7e7e7;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 14px;
}
.header_sicon{
   width: 460px;
  margin: 0px 10px;
}
.header_sicon ul{
  justify-content: flex-end;
}
.header_sicon ul li a{
  display: block;
  padding: 0px 12px;
  color: #e7e7e7;
  font-size: 14px;
  transition: 0.4s;
}
.header_sicon ul li:last-child a{
  padding-right: 0;
}
.header_sicon ul li:hover a{
  color: #353535;
}

/* menu_part start */
.menu_part{
  padding: 20px 0px;
  background: #fff;
}
.logo{
  width: 140px;
  margin: 0px 10px;
}
.logo a img{
  
}
.menu{
  width: 780px;
  margin: 0px 10px;
}
.menu ul{
  float: right;
}
.menu ul li{
  float: left;
}
.menu ul li a{
  display: block;
  padding: 15px 7.5px;
  color: #353535;
  font-size: 14px;
  transition: 0.4s;
  font-weight: 400;
  font-family: "Oswald", serif;
}
.menu ul li.active a,
.menu ul li:hover a{
  color: #0872b9;
}
.menu ul li:last-child a{
  padding-right: 0;
}
/* menu_part end */

/* header end */

/* banner_part start */
.banner_part{
  background: url(../image/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.banner_overlay{
  background: rgba(0, 0, 0, 0.6);
  padding: 85px 0px;
}
.banner_content{
  width: 440px;
  margin: 0px 10px;
  float: right;
  text-align: right;
}
.banner_content h2{
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  font-family: "Oswald", serif;
  text-transform: uppercase;
}
.banner_content h1{
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  font-family: "Oswald", serif;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.banner_content p{
  font-weight: 400;
  line-height: 1.6;
  font-size: 13px;
  color: #fff;
  padding-bottom: 20px;
}
.banner_content a{
  display: inline-block;
  padding: 9px 17px;
  border: 1px solid #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: "Oswald", serif;
  text-transform: uppercase;
  color: #fff;
  margin-left: 15px;
  transition: 0.4s;
}
.banner_content a:hover{
  background: #0872b9;
  border-color: #0872b9;
}
/* banner_part end */